*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: black; */
}
body{
    /* background-image: linear-gradient(110deg,#e8e8e8, #999999); */
    background-image: linear-gradient(120deg, #28282c, #1a1a1d);
    /* background-image: linear-gradient(120deg, #1d1d1f, #181818); */
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.3rem;
    /* color: #2b74eb; */
    color: #cccccc;
}
#todos h1{
    font-size: 2rem;
    color: #cccccc;
    margin: 20px 0 0 20px;
}

#sidebar{
    background-color: #2c2c31;
}
header,form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size:2rem;
    border: none;
    background: #bdbdbd;
    width: 80vh;
    /* background: #121d49; */
}
form button{
    /* border-radius: 0 5px 5px 0; */
    color: #bdbdbd;
    width: 70px;
    cursor: pointer;
    transition: all ease 0.3s;
    background: #222831;
}

form button:hover{
    background: #bdbdbd;
    color: #222831;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style-type: none;
}
.todo{
    margin: 0.5rem;
    background-color: #bdbdbd;
    color: #000;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex:1;
}
.trash-btn, .complete-btn{
    background-color: #59886b;
    color: #bdbdbd;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}
.trash-btn{
    background-color: #b63a3a;
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-check-square,.fa-trash-alt{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fade{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

#todos{
    flex-grow: 1;
}

#time{
    display: flex;
    /* background-image:linear-gradient(120deg, #5a5a5a, #383838); */
    padding: 5px;
    margin-left: 10px;
    justify-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: space-around;
    /* border: 1px solid #2d353f; */
    /* margin: 2px; */
    
    /* color: #bdbdbd; */
}

.card{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    background-color: #36363a;
    /* background-color: #454448; */
    /* padding: 20px 8px; */
    height: 150px;
    width: 300px;
    border-radius: 6px;
    /* color: #0d85fa; */
    color: #fff;
    /* color: #838383; */
    margin-bottom: 40px;
}
.after{
    /* content: "Current Time Zone"; */
    display: inline-block;
    text-align: center;
    margin: 5px;
    vertical-align: middle;
    /* padding: 5px; */
    /* background: #084da5; */
    background-color: #2e2e2e;
    /* background: #2e2e2e; */
    height: 40px;
    width: 300px;
    position: relative;
    top: 30px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* padding-top: 6px; */
    padding: 5px;
    margin-bottom: 40px;

}

.timer{
    margin-top: 25px;
    font-size: 2em;
    font-weight: bold;
    color: #f7f7f7;
}
.day{
    color: rgb(214, 214, 214);
}

.date{
    font-size: 0.8em;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(111, 26, 207);
	color:rgb(192, 192, 192);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(49, 49, 49);
}

.my-float{
	margin-top:22px;
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#sidebar{
    /* grid-column: 1/2; */
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#sidebar input{
    margin: 20px;
    padding: 0.5rem;
    /* font-size:2rem; */
    border: none;
    background: #bdbdbd;
    /* width: 100vh; */
    width: 350px;
    min-height: 5vh;
}

.timezones{
    background-color: #707070;
    color: #f0f0f0;
    width: 350px;
    padding: 10px;
    /* z-index: 99 !important; */
    /* position: fixed; */
    /* margin: 2px; */
}

#search-res{
    position: fixed;
    z-index: 50;
    top: 70px;
}